/*комментарии в  scc*/
/*стиль можно назначить по имени тега*/
div{

}
span{
	font-size: 20px;
	/*нижний парамметр в приоритете*/
	font-size: 30px;
	color: #0071ff;

}
.bigred{
	font-size: 40px;
	color: #ff5566;

}

/*парамметр применяется только к тегу span с классом bigred*/
/*======= у этого класса приоритет выше чем у верхних=======*/
span.bigred{
	font-size: 60px;
	color: #001133;
}
/*только span внутри класса bigred окрясятся*/
.bigred span{
	color: green;
}


/*смотреть после 10:20;*/
/*13-35 обнуление*/